.images-section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .illustration-section{
        position: absolute;
        top: 30%;
        width: 600px;
        height: 600px;
        right: 0;
        // z-index: -1;
        .background-circle{
            height: 600px;
            left: 0%;
            position: absolute;
            top: 0%;
            animation: rotating 10s linear infinite;
        }
        .background-circle-1{
            position: absolute;
            top: 6%;
            left: 10%;
            animation: rotating 3s linear infinite;
        }
        .background-circle-2{
            position: absolute;
            bottom: 4%;
            left: 45%;
            z-index: 1;
            width: 18%;
        }
        .background-circle-3{
            position: absolute;
            top: 6%;
            right: 8%;
            animation: rotating 3s linear infinite;
        }
        .background-circle-4{
            position: absolute;
            bottom: -1%;
            left: 29%;
            z-index: 1;
            animation: rotating 3s linear infinite;
        }
        .dots{
            top: -6%;
            z-index: 2;
            left: 45%;
            position: absolute;
        }
        .card-1{
            top: 40%;
            left: 45%;
            height: 380px;
            transform: translate(-50%,-50%);
            position: absolute;
            animation: card1 10s linear infinite;
        }
        .card-2{
            top: 40%;
            transform: translateY(-50%);
            height: 380px;
            right: 0;
            position: absolute;
            animation: card2 10s linear infinite;
        }
        .arrow{
            bottom: -3%;
            left: 15%;
            z-index: 1;
            position: absolute;
        }
    

    }
    
}

@keyframes rotating {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes card1 {
    0%{
        transform: translate(-50%,-50%);
    }
    30%{
        transform: translate(-50%,-53%);
    }
    70%{
        transform: translate(-50%,-48%);
    }
    95%{
        transform: translate(-50%,-50%);
    }
}
@keyframes card2 {
    0%{
        transform: translateY(-50%);
    }
    30%{
        transform: translateY(-48%);
    }
    70%{
        transform: translateY(-53%);
    }
    95%{
        transform: translateY(-50%);
    }
}
