@import '../../Assets/Style\ Sheet/_variables.scss';

.mobile-nav{
    transition: all 1s ease-in;
    width: 320px;
    position: fixed;
    top: 0;
    transform: translateX(-325px);
    left: 0;
    height: 100vh;
    padding: 3rem 2rem 0 2rem;
    z-index: 9999;
    background-color: #17192b;
    .close-icon{
        position: absolute;
        top: 20px;
        right: 20px;
        filter: invert(1);
        width: 20px;
    }
    .logo{
        filter: invert(1);
    }
    ul{
        margin-top: 35px;
        li.nav-links{
            list-style: none;
            font-family: $font-mukta;
            color: $lightwhite;
            margin-top: 20px;
            font-size: 20px;
        }
        .nav-links.active{
            color: $white;
            border-bottom:2px solid $white ;
        }
    }
}