.one{
    position: absolute;
    width: 750px;
    height: 750px;
    border-radius: 50%;
    right: 0%;
    top: 14%;
    background: #ffffff1a;
    filter: blur(300px);
    z-index: 3;
}
.two{
    position: absolute;
    width: 868px;
    height: 868px;
    top: 0;
    right: -20%;
    border-radius: 50%;
    filter: blur(300px);
    transform: rotate(150deg);
    z-index: 2;
}
.three{
    top: 20%;
    right: -26%;
    z-index: 1;
    background: #ff044017;
    position: absolute;
    width: 868px;
    height: 868px;
    border-radius: 50%;
    filter: blur(300px);
    transform: rotate(150deg);
}