@import '../../Assets/Style\ Sheet/_variables.scss';

.Home{
    width: 100vw;
    height: 150vh;
    position: relative;
    background: #0F1123;
    overflow: hidden;
    padding-bottom: 50px;

    .navbar{
        width: 100vw;
        position: fixed;
        height: 100px;
        top: 0;
        z-index: 999;
        left: 0;
    }
    .main-section{
        padding-top: 100px;
        padding: 0 2rem;
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2,1fr);
        .tittle{
            height: 100%;
            margin-top: 200px;
        }
        
        .images{
            margin-right: -2rem;
            margin-top: 100px;
            z-index: 4;
            height: 100%;
        }
    }
} 