// ----------------fonts----------------------------

$font-mukta : 'Mukta', sans-serif;
$font-recoleta:'Recoleta',sans-serif;

// -----------------------------
// ---------------colors-----------------------------

$white : #fff;
$lightwhite:#fff9;
$pink : #ff275b;
$para-color:#afafaf;
// -----------------------------


@font-face {
    font-family: 'Recoleta';
    src: url('../Fonts/Recoleta-Regular.ttf');
}