// ----------------fonts----------------------------

$font-mukta : 'Mukta', sans-serif;

// -----------------------------
// ---------------colors-----------------------------

$white : #fff;
$lightwhite:#fff9;
$pink : #ff275b;
$para-color:#afafaf;
// -----------------------------
